body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: #e2e2e2;
    margin: 0;
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;

}
.right-bar {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 5px;
    overflow-y: scroll;
    overflow-x: hidden
    
}

.side-bar {
    display: flex;
    flex-direction: column;
    background-color: #1c2434;
    border: 1px;
    min-width: 220px;
    padding-top: 20px;
    overflow: visible;
    
}
.side-bar h1 {
    padding-left: 16px;
    color: white;
    font-size: 26px;
}
.side-bar h1.logo::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url('../images/logo.svg') center no-repeat;
}
.menu{
    color: #8a99af;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    padding-left: 16px;
}
.single-menu {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    color: #8a99af;
}
.single-menu a {
    margin-top: 4px;
    padding: 6px 8px 6px  ;
    display: block;
    background-color: none;
    color: #8a99af;
    text-decoration: none;
    margin-right: 16px;
    font-size: 16px;
}
.single-menu a:hover {
    background-color: #333a48;

}
.single-menu a.active {
    background-color: #333a48;
    margin-right: 16px;
}
.single-menu a.active::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url('../images/Main.svg') center no-repeat;
}
.single-menu a.parsing::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url('../images/Parsing.svg') center no-repeat;
}
.single-menu a.profile::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url('../images/Profile.svg') center no-repeat;
}
.single-menu a.calendar::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url('../images/Calendar.svg') center no-repeat;
}


.top-bar {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: none;
    box-shadow: 0px 1px 0px #e2e8f0;
    height: 50px;
    overflow: hidden;

}
.top-bar .group-in-top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px
}
.top-bar .group-in-top-bar input[type=text] {
    position: relative;
    width: 950px;
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 25px;
    font-size: 16px;
}
.search {
    vertical-align: middle;
}
.top-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.top-right .btn {
    margin-top: 3px;
    border: none;
    display: inline-block;
    border-radius: 50%;
    padding: 10px 12px;
    cursor: pointer;
}
.top-right .btn .notifications {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url('../images/notif.svg') center no-repeat;
}
.top-right .btn2 {
    margin-right: 20px;
    margin-top: 3px;
    margin-left: 10px;
    border: none;
    display: inline-block;
    border-radius: 50%;
    padding: 10px 12px;
    cursor: pointer;
}
.top-right .btn2 .messages {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url('../images/messages.svg') center no-repeat;
}
.top-right div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.top-right div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}
.john-wick {
    color: #212b36;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.hitman {
    color: #212b36;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 0px;

}
.top-right div div img {
    padding-left: 10px;
}
.first-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
.rectangle {
    width: 1180px;
    height: 397px;
    background: #ffffff;
    padding-left: 60px;
}
.rectangle div h2 {
    padding-left: 40px;
    padding-top: 20px;
    color: #212b36;
    font-size: 22px;
    line-height: 28px;
}
.analytics {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 0px;
}
.analytics div h6 {
    color: #64748b;
}
.bar {
    fill: #3c50e0;
  }
  
  .bar:hover {
    fill: darkgray;
  }
  
  .axis {
    font: 12px sans-serif;
    stroke: #64748b;
    stroke-width: 0.5;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x.axis path {
    display: none;
  }

  .x-text {
    font-size: 14px;
    stroke: #64748b;
    stroke-width: 0.5;
    line-height: 22px;
    text-align: center;
    text-anchor: middle;
  }

  .bounce-rate {
    width: 1240px;
    height: 120px;
    background: #ffffff;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }
  .bounce-rate .visit-duration,
  .bounce-rate .Rate,
  .bounce-rate .total-page-views,
  .bounce-rate .unique-visitors {
    width: 310px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .bounce-rate .visit-duration article,
  .bounce-rate .Rate article,
  .bounce-rate .total-page-views article,
  .bounce-rate .unique-visitors article {
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
  }
  .bounce-rate .visit-duration article h1,
  .bounce-rate .Rate article h1,
  .bounce-rate .total-page-views article h1,
  .bounce-rate .unique-visitors article h1 {
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 34px;
    color: #1c2434;
  }
  .bounce-rate .visit-duration article p,
  .bounce-rate .Rate article p,
  .bounce-rate .total-page-views article p,
  .bounce-rate .unique-visitors article p {
    margin-top: 0px;
    font-size: 14px;
    color: #64748b;
    line-height: 22px;
  } 
  .bounce-rate .visit-duration figure,
  .bounce-rate .Rate figure,
  .bounce-rate .total-page-views figure,
  .bounce-rate .unique-visitors figure  {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    align-items: center
  }
  .bounce-rate .visit-duration figure p,
  .bounce-rate .total-page-views figure p,
  .bounce-rate .unique-visitors figure p {
    font-size: 14px;
    margin-left: 5px;
    color: #10b981;
  }
  .bounce-rate .Rate figure p{
    font-size: 14px;
    margin-left: 5px;
    color: #f0950c;
  }

  .bounce-rate .total-page-views {
    width: 310px;
  }
  .bounce-rate .Rate {
    width: 310px;
  }
  .bounce-rate .visit-duration {
    width: 310px;
  }
  .bounce-rate hr{
    height: 80px;
    margin-top: 1em;
    border-color: #e2e8f0;
  }
  

  .second-group {
    display: flex;
    flex-direction: row;

  }
  
  .second-group .top-cities {
    width: 678px;
    height: 774px;
    background: #ffffff;
    margin-top: 31px;
  }
.top-cities figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-cities .line {
    border-top: 1px solid #e7e7e7;
}

.top-cities figure header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top-cities figure header h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}
.select {
    background: #f4f7ff;
    border-radius: 4px;
    height: 32px;
    width: 123px;
    padding: 5px 13px;
    font-size: 14px;
    color: #64748b;
    border-color: #e5e7eb;
}
.top-cities main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.top-cities main .row {
    display: flex;
    margin-bottom: 5px;
}
.top-cities main  .title {
   width: 30%; 
  }

.top-cities main .bar {
    flex:1;
    background: #e5e7eb;
    border-radius: 5px;
  }
  .top-cities main .rect{
    background: blue;
    color: white;
    text-align: center;
    border-radius: 5px;
  }

  


  .second-group .third-group {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }  
  .second-group .third-group .top-content {
    width: 530px;
    height: 372px;
    background: #ffffff;
    margin-top: 31px;
    display: flex;
    flex-direction: column;
  }
  .second-group .third-group .top-chanel div,
  .second-group .third-group .top-content div {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }
  .second-group .third-group .top-chanel div arcticle,
  .second-group .third-group .top-content div arcticle {
    display: flex;
    flex-direction: row;
  }  
  .second-group .third-group .top-chanel div arcticle h5,
  .second-group .third-group .top-content div arcticle h5 {
    color: #64748b;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }
  .content-rect {
    fill: #eff4fb;
  }
  .second-group .third-group .top-chanel div svg,
  .second-group .third-group .top-content div svg {
    height: 220px;
  }
  .second-group .third-group .top-chanel div svg text,
  .second-group .third-group .top-content div svg text {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }
  .second-group .third-group .top-chanel div header,
  .second-group .third-group .top-content div header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 65px;
  }
  .second-group .third-group .top-chanel {
    width: 530px;
    height: 372px;
    background: #ffffff;
    margin-top: 30px;
  }