body {
    font-family: 'Poppins';
    font-style: normal;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #1c2434;
    border: 1px;
    width: 220px;
    height: 100%;
    padding-top: 20px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.sidebar h1 {
    padding-left: 16px;
    color: white;
    font-size: 26px;
}
.sidebar h1.logo::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url('/images/logo.svg') center no-repeat;
}
.menu{
    color: #8a99af;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    padding-left: 16px;
}
.singleMenu {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    color: #8a99af;
}
.singleMenu a {
    padding: 6px 8px 6px  ;
    display: block;
    background-color: none;
    color: #8a99af;
    text-decoration: none;
    margin-right: 16px;
    font-size: 16px;
}
.singleMenu a:hover {
    background-color: #333a48;

}
.singleMenu a.active {
    background-color: #333a48;
    margin-right: 16px;
}
.singleMenu a.active::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url('/images/Main.svg') center no-repeat;
}
.singleMenu a.parsing::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url('/images/Parsing.svg') center no-repeat;
}
.singleMenu a.profile::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url('/images/Profile.svg') center no-repeat;
}
.singleMenu a.calendar::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url('/images/Calendar.svg') center no-repeat;
}


.topbar {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: none;
    box-shadow: 0px 1px 0px #e2e8f0;
    height: 50px;
    margin-left: 220px;

}
.topbar .GroupInTopbar input[type=text] {
    position: relative;
    width: 950px;
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 25px;
    font-size: 16px;
}
.search {
    position: absolute;
    vertical-align: middle;
    margin-top: 13px;
    margin-left: 5;
}
.TopRight {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.TopRight .btn {
    margin-top: 3px;
    border: none;
    display: inline-block;
    border-radius: 50%;
    padding: 10px 12px;
    cursor: pointer;
}
.TopRight .btn .notifications {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url('/images/notif.svg') center no-repeat;
}
.TopRight .btn2 {
    margin-right: 20px;
    margin-top: 3px;
    margin-left: 10px;
    border: none;
    display: inline-block;
    border-radius: 50%;
    padding: 10px 12px;
    cursor: pointer;
}
.TopRight .btn2 .messages {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url('/images/messages.svg') center no-repeat;
}
.TopRight div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.TopRight div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}
.JohnWick {
    color: #212b36;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.hitman {
    color: #212b36;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 0px;

}
.TopRight div div img {
    padding-left: 10px;
}
.FirstGroup {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;

}
.rectangle {
    width: 1240px;
    height: 397px;
    background: #ffffff;
    margin-left: 15%;
    margin-top: 10%;

}
.rectangle div h2 {
    padding-left: 40px;
    padding-top: 20px;
    color: #212b36;
    font-size: 22px;
    line-height: 28px;
}
.analytics {
    margin-right: 46px;
    margin-left: 40px;
    display: flex;
    flex-wrap: nowrap;
}
.analytics div h6 {
    color: #64748b;
}
.bar {
    fill: #3c50e0;
  }
  
  .bar:hover {
    fill: darkgray;
  }
  
  .axis {
    font: 12px sans-serif;
    stroke: #64748b;
    stroke-width: 0.5;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x.axis path {
    display: none;
  }

  .x-text {
    font-size: 14px;
    stroke: #64748b;
    stroke-width: 0.5;
    line-height: 22px;
    text-align: center;
    text-anchor: middle;
  }

  .bounceRate {
    width: 1240px;
    height: 120px;
    background: #ffffff;
    margin-left: 15%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }
  .bounceRate .visitDuration,
  .bounceRate .Rate,
  .bounceRate .totalPageviews,
  .bounceRate .uniqueVisitors {
    width: 310px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .bounceRate .visitDuration article,
  .bounceRate .Rate article,
  .bounceRate .totalPageviews article,
  .bounceRate .uniqueVisitors article {
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
  }
  .bounceRate .visitDuration article h1,
  .bounceRate .Rate article h1,
  .bounceRate .totalPageviews article h1,
  .bounceRate .uniqueVisitors article h1 {
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 34px;
    color: #1c2434;
  }
  .bounceRate .visitDuration article p,
  .bounceRate .Rate article p,
  .bounceRate .totalPageviews article p,
  .bounceRate .uniqueVisitors article p {
    margin-top: 0px;
    font-size: 14px;
    color: #64748b;
    line-height: 22px;
  } 
  .bounceRate .visitDuration figure,
  .bounceRate .Rate figure,
  .bounceRate .totalPageviews figure,
  .bounceRate .uniqueVisitors figure  {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    align-items: center
  }
  .bounceRate .visitDuration figure p,
  .bounceRate .totalPageviews figure p,
  .bounceRate .uniqueVisitors figure p {
    font-size: 14px;
    margin-left: 5px;
    color: #10b981;
  }
  .bounceRate .Rate figure p{
    font-size: 14px;
    margin-left: 5px;
    color: #f0950c;
  }

  .bounceRate .totalPageviews {
    width: 310px;
  }
  .bounceRate .Rate {
    width: 310px;
  }
  .bounceRate .visitDuration {
    width: 310px;
  }
  .bounceRate hr{
    height: 80px;
    margin-top: 1em;
  }
  


  
  .SecondGroup {
    display: flex;
    flex-direction: row;

  }
  
  .SecondGroup .topCities {
    width: 678px;
    height: 774px;
    background: #ffffff;
    margin-left: 15%;
    margin-top: 31px;
  }
  .SecondGroup .ThirdGroup {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .SecondGroup .ThirdGroup .TopContent {
    width: 530px;
    height: 372px;
    background: #ffffff;
    margin-top: 31px;
  }
  .SecondGroup .ThirdGroup .TopChanel {
    width: 530px;
    height: 372px;
    background: #ffffff;
    margin-top: 30px;
  }